# Operating System
.DS_Store
Thumbs.db
ehthumbs.db

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.env.*
.venv/
venv/
env/
ENV/
pip-selfcheck.json
.pytest_cache/
.coverage
.coverage.*
htmlcov/
dist/
build/
eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment / dependency managers
Pipfile.lock
poetry.lock

# Visual Studio Code
.vscode/
.history/

# IDEs and editors
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*.swo

# Logs
logs/
*.log

# Coverage reports
coverage.xml

# Misc
*.bak
*.tmp